rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      // Allow reading individual product documents by anyone.
      allow get: if true;
      
      // Allow listing all products by anyone.
      allow list: if true;

      // Allow creating, updating, and deleting products only for authenticated admins or staff.
      allow write: if request.auth != null && request.auth.token.role in ['admin', 'staff'];
    }
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
